/* Universal box-sizing */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  /* Outer Grid */
  body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas:
    "nav  nav"
    "main main";
    grid-gap: 5px;
    height: 100vh;
    
  }

  nav {
    grid-area: nav;
    background-color: rgb(199, 68, 242);
    background-image: linear-gradient(146deg, rgb(199, 68, 242) 0%, rgb(238, 209, 90) 100%);
    /* clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%); */
    shape-outside: border-box;
    height: 100%;
  }

  main {
    grid-area: main;
    background-color: rgb(234, 234, 8);
    background-image: linear-gradient(146deg, rgb(223, 234, 8) 0%, rgb(245, 164, 42) 100%);
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }


  /*  */

img {
  width: 250px; 
  height: 250px; 
  display: block;
  border-radius: 10px;
}

/* Inner (nav) grid */
.inner-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
  ". .       ."
  ". search  ."
  ". buttons ."
  ". buttons .";
  /* height: 100vh; */
}

form {
  grid-area: search;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  grid-area: buttons;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

ul#animalButtons {
  margin: 5px;
}
