/* Universal box-sizing */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  /*  */
  body {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 100px 1fr 2fr;
    grid-template-areas:
    "nav  nav"
    "main form"
    "main .";
    height: 100vh;
  }

  nav {
    grid-area: nav;
    background-color: rgb(199, 68, 242);
    background-image: linear-gradient(146deg, rgb(199, 68, 242) 0%, rgb(238, 209, 90) 100%);
    height: 100%;
  }

  main {
    grid-area: main;
    background-color: rgb(234, 234, 8);
    background-image: linear-gradient(146deg, rgb(223, 234, 8) 0%, rgb(245, 164, 42) 100%);
    height: 100%;
  }

  form {
    grid-area: form;
    background-color: #08AEEA;
    background-image: linear-gradient(146deg, #08AEEA 0%, rgb(42, 245, 152) 100%);
    height: 100%;
  }

  /*  */

  button {
    display: flex;
    flex-direction: row;
  }
